.jewelry-collection-video-banner .container-liquid {
    position: relative;
}

.jewelry-collection-video-banner-title h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.jewelry-collection .card {
    border: none;
}

.jewelry-collection a {
    text-decoration: none;
    color: black;
}