section.lv-bags-collection div.card {
    border: none;
}

.lv-bags-collection-video-banner div.container-liquid {
    position: relative;
    display: inline-block;
}

.lv-bags-collection-video-banner-title h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.lv-bags-collection a {
    text-decoration: none;
    color: black;
}