/* global button */
.btn-primary {
  background-color: #329BD1;
  border-color: #329BD1;
}

.btn-primary:hover {
  background-color: white !important;
  border-color: #329BD1 !important;
  color: #329BD1 !important;
}

/* ---------------------------------------- TRACK ORDER PAGE SECTION ------------------------------------- */
button#track-my-order {
  background-color: #329BD1;
  border-color: #329BD1;
  width: 200px;
}

button#track-my-order-submit {
  background-color: #329BD1;
  border-color: #329BD1;
  width: 200px;
}


/* ------------------------------------------ CHANEL BAGS COLLECTION ------------------------------------- */
.chanel-bags-collection-image-banner .container-liquid {
  position: relative;
}

.chanel-bags-collection-image-banner-title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.chanel-bags-collection div.card {
  border: none;
}

/* ---------------------------------------- BAGS MAIN NAV MENU SECTION ------------------------------------ */
.all-bags-collection .card {
  border: none;
}

.all-bags-collection a {
  text-decoration: none;
  color: black;
}

.all-bags-main-nav-banner .container-liquid {
  position: relative;
}

.all-bags-main-nav-banner-title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* ---------------------------------------JEWELRY MAIN NAV MENU SECTION ---------------------------------- */
.jewelry-collection-video-banner .container-liquid {
  position: relative;
}

.jewelry-collection-video-banner-title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.jewelry-collection .card {
  border: none;
}

.jewelry-collection a {
  text-decoration: none;
  color: black;
}

/* ---------------------------------------- SHOES MAIN NAV MENU SECTION ---------------------------------- */
.shoes-collection-image-banner .container-liquid {
  position: relative;
}

.shoes-collection-image-banner-title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.shoes-collection .card {
  border: none;
}

.shoes-collection a {
  text-decoration: none;
  color: black;
}

/* ------------------------------------------ PRODUCT PAGE SECTION --------------------------------------- */
#product-page-cc-icon {
  font-size: 2rem;
}

/* -------------------------------------------- CART PAGE SECTION ---------------------------------------- */

/* end of Cart Page */

/* -------------------------------------- LARGE SCREEN RESPONSIVENESS -------------------------------- */
@media only screen and (max-width: 1920px) {
  .elevate-fashion-image-banner img {
    width: 100%;
  }
}